.jumbotron {
	width: 600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
    padding: 20px
}

.form-control{
    margin-bottom: 5px;
}
.selecionado{
    background-color: darkorange !important;
}

.ui-alert-title{
    font-weight: bold;
}